* {
  box-sizing: border-box;
}
body {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  text-rendering: geometricPrecision;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #555;
  margin: 0;
  padding: 0;
  background: #fff;
}
#app {
  padding: 1em;
    display: flex;
    flex-flow: column;
    max-height: 100vh;
    max-width: 900px;
    margin: 0 auto;
}
.item {
  border-bottom: 1px solid #ccc;
}

span {
  border-bottom: 1px solid #7c7a7a;
  cursor: pointer;
  padding: 2px;
}

span:hover {
  background-color: #ededed;
}

form {
  margin: 0 auto;
  width: 300px;
}

button#submit {
  margin-bottom: 15px;
}